body{
    background-color: rgb(216, 207, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.header{
    margin-top: 1px;
    background-color: rgb(6, 162, 253);
    width: 50vw;
    height: 15vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    margin-top: 5%;
    background-color: rgb(236, 174, 195);
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border-radius: 40px;
}
.mm{
    background-color: rgb(240, 144, 159);
    width: 70%;
    height: 60%;
    border-radius: 20px;
    border: 2px rgb(138, 136, 136) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
   
}
h5{
    margin: 0%;

}
h3{
     margin: 5px;
}
button{
    margin-top: 10%;
    width: 50px;
    height: 30px;
    background-color: rgba(221, 243, 97, 0.26);
    /* display: flex; */
    /* flex-direction: row; */
    border: 1px rgb(95, 78, 78) solid;
    border-radius: 12px;

    
    
}
/* /////////////////////////////// wish //////////////////////// */
.header2{
     margin-top: 6%;
    background-color: rgb(236, 174, 195);
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border-radius: 40px;

}
.content2{
    background-color: rgb(248, 153, 166);
    width: 40vw;
    height: 60vh;
    border-radius: 20px;
    border: 2px rgb(138, 136, 136) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-items: center;
}
.rt{
    margin-top: 2%;
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
   
}

/* .btn button{ 
    margin-top: 30%;
    background-color: aqua;
    border-radius: ; */

  /* ///////////////////////////choose/////////////////////// */
.header3{
    margin-top: 10%;
    background-color: rgb(236, 174, 195);
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    justify-items: center;
    border-radius: 40px;

}
.content3{
    background-color: rgb(248, 153, 166);
    width: 70%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px rgb(138, 136, 136) solid;
}
/* ////////////////////////////gifts///////////////////////// */
.header4{
    margin-top: 6%;
    background-color: rgb(236, 174, 195);
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border-radius: 40px;

}
.content4{
    background-color: rgb(248, 153, 166);
    width: 70%;
    height: 70%;
    border-radius: 20px;
    border: 2px rgb(138, 136, 136) solid;
}

.iu{
    margin-top: 15%;

}
.im{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.im img{
    width: 20%;
    height: 30%;
    justify-content: center;
    align-items: center;
}
